html, body {
	background: black;
}
.field{
	margin: auto;
	height: 700px;
	margin-top: 50px;
	width: 1000px;
	border: 3px solid #a31; 
}

.leftField{

}

.loganPicLeft{
	height: 134px;
	width: auto;
	border-right: 3px solid #a31;
	border-bottom: 3px solid #a31;
}

.rightField{
	margin: -705px 0px 0px 897px;
}
.loganPicRight{
	height: 134px;
	width: auto;
	border-left: 3px solid #a31;
	border-bottom: 3px solid #a31;
}
.halfFieldDashedLine{
	margin:-705px 0px 0px 500px;
	position: absolute;
	height: 700px;
	width: 1px;
	border: 1px dashed #a31;
}


